@media screen and (max-width:732px) {
    .navbar {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0px 10px;
        height: 100px;
        width: 100%;
        background-color: var(--dark-color);
        color: var(--light-color);
        position: fixed;
        top: 0;
        opacity: 0.8;
        font-size: smaller;
    }
    
    .navbar a {
        color: var(--light-color);
        margin: 0 2px;
        text-transform: capitalize;
        padding: 5px 5px;
    }
    .navbar a:hover {
        border-bottom: var(--primary-color) 2px solid;
    }
    .navbar ul {
        display: flex;
    }
    .navbar .logo{
        font-weight: 100;
    }}